[Unit]
Description=Pingbot
After=default.target

[Service]
ExecStart=${SCRIPT_DIR}/pingbot.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target

